* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #000000;
}

#titulo {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.items a {
    padding: 10px;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.tituloCarrucel {
    margin-top: 50px;
    color: #FEFEFE;
    font-family: 'Cinzel', serif;
    display: center;
}

.items a:hover {
    background: #FEFEFE;
    color: #000000;
}

h3 a {
    color: #FEFEFE;
    font-family: 'Cinzel', serif;
    text-decoration: none;
}

h3 a:hover {
    color: #000000;
    background: #FEFEFE;
}


/*CARRUSEL INICIO*/

.slider {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 5%;
    width: 500%;
    animation: cambio 20s infinite alternate linear;
}

.slider li {
    width: 100%;
    height: 100%;
    list-style: none;
}

.slider img {
    width: 250px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}


/*FOOTER // FIN DE PAGINA*/

footer {
    margin-top: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #F5F5DC;
}

footer a {
    text-decoration: none;
    padding: 15px;
}

a span {
    color: #000000;
    font-size: 30px;
}

#redes {
    color: #000000;
    margin-top: 15px;
    font-size: 15px;
}

.cursive {
    font-size: 15px;
    font-style: italic;
    color: #000000;
}