* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.icono {
    color: #FEFEFE;
    margin: 10px;
}

.icono2 {
    font-size: 20px;
}

.icono3 {
    font-size: 25px;
}

body {
    background: #000000;
}

h2 {
    color: #F5F5DC;
    letter-spacing: 1px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

h2 p {
    color: #F5F5DC;
}

h2 a {
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

h2 a:hover {
    color: #fff;
}

p {
    color: #fff;
}

.date {
    color: #FEFEFE;
    font-family: 'Cinzel', serif;
}

.titulo_post {
    color: #FEFEFE;
    font-family: 'Cinzel', serif;
    text-decoration: underline;
}

.cont_post {
    font-size: 30px;
}

#titulo {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

#titulo:hover {
    text-decoration: none;
}

h3 a {
    color: #FEFEFE;
    font-family: 'Cinzel', serif;
    text-decoration: none;
}

h3 a:hover {
    background-color: #fff;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

footer {
    margin-top: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #F5F5DC;
}

#id_title {
    color: #000000;
    font-weight: bold;
}

#id_text {
    color: #000000;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    padding: 15px;
}

a span {
    color: #000000;
    font-size: 30px;
}

#redes {
    color: #000000;
    margin-top: 15px;
    font-size: 15px;
}

.cursive {
    font-size: 15px;
    font-style: italic;
    color: #000000;
}