{% load staticfiles %}
<html>

<head>
    <title>Foro Informativo</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/iconos.css' %}">
    <link rel="stylesheet" href="{% static 'css/foro.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">


</head>

<body>
    <div class="page-header row center-xs">
        <div class="col-xs">
            <h1><a href="{% url 'foro' %}" id="titulo">Foro Informativo</a></h1>
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus-sign icono"></span></a> {% endif %}
        </div>
    </div>



    {% block barra_busqueda %}
    <div class="container">
        <div class="row center-xs">
            <div class="col-xs-8">
                <form method="get">
                    <div class="col-xs-10">
                        <div>
                            <input type="text" class="form-control" placeholder="Buscar.." id="name" name="buscar" value="{{ request.GET.buscar}}">
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="glyphicon glyphicon-search icono3"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock barra_busqueda %}



    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row center-xs">
            <div class="col-xs">
                <h3><a href="{% url 'index' %}">Volver al Menu Principal</a></h3>
            </div>
        </div>
    </div>

    <div class="row">
        <footer class="col-xs-12 center-xs">
            <p id="redes">Redes Sociales</p>
            <div>
                <a href="https://www.facebook.com/ShadowProjectOficial/" target="_blank"><span class="icon-facebook"></span></a>
                <a href="https://www.instagram.com/sh_path_of_redemption/" target="_blank"><span class="icon-instagram"></span></a>
                <a href="https://www.youtube.com/channel/UCC3KLun16zLqYWjDR76q-7w" target="_blank"><span class="icon-youtube"></span></a>
            </div>
            <span class="col-xs-12 cursive">Contactenos a [sp.pathofredemption@gmail.com]</span>
            <br>
            <br>
        </footer>
    </div>
</body>



</html>