{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Desarrollo</title>
    <link rel="stylesheet" href="{% static 'fonts/iconos.css' %">
    <link rel="stylesheet" href="{% static 'css/Desarrollo.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div class="container">
            <div class="row center-xs">
                <div class="col-xs">
                    <h1 id="titulo">Shadow Project: The Path of Redemption</h1>
                </div>
            </div>
        </div>

        <div class="items">
            <div class="container">
                <div class="row center-xs">
                    <div class="col-xs">
                        <nav>
                            <a href="{% url 'Download' %}">Descargar</a>
                            <a href="{% url 'Sesion' %}">Iniciar Sesión</a>
                            <a href="{% url 'Registro' %}">Registrarse</a>
                            <a href="{% url 'foro' %}">Foro</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row center-xs">
            <div class="col-xs tituloCarrucel">
                <h3>Desarollo Conceptual de Shadow Project.</h3>
            </div>
        </div>
    </div>

    <!--CARRUSEL 1 - DESARROLLO PROYECTO-->
    <div class="container">
        <div class="row">
            <div class="slider col-xs-12 centrar">
                <ul class="slider">
                    <li>
                        <a href=""><img src="{% static 'IMG/MainIMG/MainLogo.jpg' %}" alt="Logo Principal"></a>
                    </li>
                    <li>
                        <a href=""><img src="{% static '/IMG/IMG_Cascade/PuppeteerViva.jpeg' %}" alt="Puppeteer Viva"></a>
                    </li>
                    <li>
                        <a href=""><img src="{% static '/IMG/IMG_Cascade/RetratoFamilia.jpeg' %}" alt="Retrato Familiar - Puppeteer"></a>
                    </li>
                    <li>
                        <a href=""><img src="{% static '/IMG/Concept/ConcepPyro.jpg' %}" alt="Concepto: Pyromancer"></a>
                    </li>
                    <li>
                        <a href=""><img src="{% static '/IMG/Concept/ConcepPuppet.jpg' %}" alt="Concepto: Puppeteer"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!---->
    <div class="container">
        <div class="row center-xs tituloCarrucel">
            <h3>Presentación de Shadow Project - Liceo Politécnico Marga Marga, Viña del Mar.</h3>
        </div>
    </div>
    </div>

    <!--CARRUSEL 2 - LICEO-->
    <div class="row">
        <div class="slider col-xs-12">
            <ul class="slider">
                <li>
                    <a href=""><img src="{% static '\IMG\liceo\game0.jpg' %}" alt="Logo Principal"></a>
                </li>
                <li>
                    <a href=""><img src="{% static '\IMG\liceo\game1.jpg' %}" alt="Puppeteer Viva"></a>
                </li>
                <li>
                    <a href=""><img src="{% static '\IMG\liceo\game2.jpg' %}" alt="Retrato Familiar - Puppeteer"></a>
                </li>
                <li>
                    <a href=""><img src="{% static '\IMG\liceo\game3.jpg' %}" alt="Concepto: Pyromancer"></a>
                </li>
                <li>
                    <a href=""><img src="{% static '\IMG\liceo\game4.jpg' %}" alt="Concepto: Pyromancer"></a>
                </li>
            </ul>
        </div>
    </div>

    <!---->

    <br>
    <br>
    <div class="container">
        <div class="row center-xs">
            <div class="col-xs" id="vuelta">
                <h3><a href="{% url 'index' %}">Volver al Menu Principal</a></h3>
            </div>
        </div>
    </div>

    <!-- FOOTER - REDES SOCIALES -->
    <div class="row">
        <footer class="col-xs-12 center-xs">
            <p id="redes">Redes Sociales</p>
            <br>
            <div>
                <a href="https://www.facebook.com/ShadowProjectOficial/" target="_blank"><span class="icon-facebook"></span></a>
                <a href="https://www.instagram.com/sh_path_of_redemption/" target="_blank"><span class="icon-instagram"></span></a>
                <a href="https://www.youtube.com/channel/UCC3KLun16zLqYWjDR76q-7w" target="_blank"><span class="icon-youtube"></span></a>
            </div>
            <hr>
            <span class="col-xs-12 cursive">Contactenos a [sp.pathofredemption@gmail.com]</span>
            <br>
            <br>
        </footer>
    </div>

</body>

</html>