{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shadown Project</title>

    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/iconos.css' %}">
    
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="container">
            <div class="row center-xs">
                <div class="col-xs">
                    <h1 id="titulo">Shadow Project: The Path of Redemption</h1>
                </div>
            </div>
        </div>

        <div class="items">
            <div class="container">
                <div class="row center-xs">
                    <div class="col-xs">
                        <nav>
                            <a href="Download.html">Descargar</a>
                            <a href="Sesion.html">Iniciar Sesión</a>
                            <a href="Registro.html">Registrarse</a>
                            <a href="foro.html">Foro</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row center-xs">
            <div class="col-xs-12 video">
                <iframe src="https://www.youtube.com/embed/J0rDYW7a_J4" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row center-xs">
            <section class="col-xs-12 col-sm-6 col-md-4 items">
                <a href="Devs.html">
                    <h4 class="colorLetras">¿Quienes Somos?</h4>
                </a>
                <p class="pQuien">Descubre todo lo relacionado con el Equipo de Desarrollo, detrás de Shadow Project.</p>
            </section>
            <section class="col-xs-12 col-sm-6 col-md-4 items">
                <a href="Juego.html">
                    <h4>El Juego</h4>
                </a>
                <p class="pQuien">Para redimir el mundo, es necesario conocer la Oscuridad que ha condenado a las tierras de Eridus al cataclismo. Incursiona en la Historia y sus Personajes.</p>
            </section>
            <section class="col-xs-12 col-sm-6 col-md-4 items">
                <a href="Desarrollo.html">
                    <h4>Desarrollo del Proyecto</h4>
                </a>
                <p class="pQuien">Da un vistazo breve al motor grafico usado para el desarrollo, así como a nuestra sección de arte de Shadow Project.</p>
            </section>
        </div>
    </div>
    <div class="row">
        <footer class="col-xs-12 center-xs">
            <p id="redes">Redes Sociales</p>
            <br>
            <div>
                <a href="https://www.facebook.com/ShadowProjectOficial/" target="_blank"><span class="icon-facebook"></span></a>
                <a href="https://www.instagram.com/sh_path_of_redemption/" target="_blank"><span class="icon-instagram"></span></a>
                <a href="https://www.youtube.com/channel/UCC3KLun16zLqYWjDR76q-7w" target="_blank"><span class="icon-youtube"></span></a>
            </div>
            <hr>
            <span class="col-xs-12 cursive">Contactenos a [sp.pathofredemption@gmail.com]</span>
            <br>
            <br>
        </footer>
    </div>
</body>

</html>