{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redirección</title>
    <link rel="stylesheet" href="{% static 'css/permiso.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/iconos.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">
</head>

<body>

    <div class="row center-xs">
        <h1 class="col-xs">No tienes los permisos para editar</h1>
    </div>

    <div class="container">
        <div class="row center-xs">
            <div class="col-xs">
                <h3><a href="{% url 'foro' %}">Volver al Menu de Post</a></h3>
            </div>
        </div>
    </div>

    <div class="row">
        <footer class="col-xs-12 center-xs">
            <p id="redes">Redes Sociales</p>
            <div>
                <a href="https://www.facebook.com/ShadowProjectOficial/" target="_blank"><span class="icon-facebook"></span></a>
                <a href="https://www.instagram.com/sh_path_of_redemption/" target="_blank"><span class="icon-instagram"></span></a>
                <a href="https://www.youtube.com/channel/UCC3KLun16zLqYWjDR76q-7w" target="_blank"><span class="icon-youtube"></span></a>
            </div>
            <span class="col-xs-12 cursive">Contactenos a [sp.pathofredemption@gmail.com]</span>
            <br>
            <br>
        </footer>
    </div>
</body>

</html>